.food-list-container{
  .food-list{
    background-color: #eee;
    padding: 10px;
    flex:1;
    .btn{
      padding:3px 5px;
      font-size: 12px;
      border-radius: 3px;
      border: 1px solid #c20000;
      color:#c20000;
    }
    .food-box{
      display: flex;
      margin-bottom: 20px;
      background-color: #fff;
      padding: 12px;
      border-radius: 10px;
      .food-box-image{
        width: 80px;
        height: 80px;
        border-radius: 6px;
        margin-right: 10px;
      }
      .food-box-content{
        flex:1;
        display: flex;
        flex-direction: column;
        color:#999;
        .title{
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
          color:#000;
        }
        .sale{
          font-size: 12px;
          margin-bottom: 5px;

        }
        .price{
          font-size: 12px;
          display: flex;
          color: #000;
          .team-price{
            color: #e84100;
            font-weight: 600;
          }
          .normal-price{
            color: #999;
            text-decoration: line-through;
          }
        }

      }
    }
  }
}
