@font-face {
  font-family: "iconfont"; /* Project id 4351312 */
  src: url('iconfont.woff2?t=1701315573260') format('woff2'),
       url('iconfont.woff?t=1701315573260') format('woff'),
       url('iconfont.ttf?t=1701315573260') format('truetype'),
       url('iconfont.svg?t=1701315573260#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hot:before {
  content: "\e605";
}

.icon-fire:before {
  content: "\e611";
}

.icon-L_fire_fill_circle:before {
  content: "\e6d0";
}

.icon-address:before {
  content: "\e613";
}

.icon-peiduiyuehui01:before {
  content: "\e72d";
}

.icon-clock:before {
  content: "\e746";
}

.icon-icon-contact:before {
  content: "\e66e";
}

.icon-star:before {
  content: "\e7df";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8ed";
}

.icon-caret-right:before {
  content: "\e8ee";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-service:before {
  content: "\e636";
}

.icon-planet:before {
  content: "\e617";
}

.icon-dot-circle:before {
  content: "\e600";
}

.icon-star1:before {
  content: "\e62f";
}

.icon-call:before {
  content: "\e603";
}

.icon-mine:before {
  content: "\e6ed";
}

.icon-address1:before {
  content: "\e65c";
}

.icon-right:before {
  content: "\e66f";
}

.icon-contact-us:before {
  content: "\e60e";
}

.icon-pipei:before {
  content: "\e601";
}

.icon-pipei1:before {
  content: "\e610";
}

.icon-share:before {
  content: "\e632";
}

.icon-mine1:before {
  content: "\e6bb";
}

.icon-pipei2:before {
  content: "\e602";
}

.icon-calendar-ing:before {
  content: "\e604";
}

.icon-share-C:before {
  content: "\e623";
}

.icon-baogaosousuo:before {
  content: "\e640";
}

